body {
  font-family: Arial, sans-serif;
  background-color: #e8f6ff;
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
}
h1,
h2 {
  text-align: center;
  color: #003366;
}
.img {
  margin-right: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.content {
  margin-bottom: 20px;
}
.section {
  margin-top: 20px;
}
.section-title {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
