@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #171717;
  background-size: cover;
  background-position: center;
}

/* Навигация */
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Выравнивает элементы по вертикали */
  z-index: 100;
}

.logo-container {
  display: flex; /* Располагает логотип и текст в одной строке */
  align-items: center; /* Выравнивает элементы по вертикали */
}

.logo {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px; /* Отступ между логотипом и текстом */
}

.site-title {
  font-size: 18px;
  color: white;
  font-weight: 500;
}
.logo {
  display: flex; /* Используем flex для точного выравнивания */
  align-items: center; /* Центрируем элементы внутри логотипа */
  height: 40px;
  position: relative;
}

.logo img {
  width: 40px;
  border-radius: 50%; /* Оставляем круглую форму */
}

.header a {
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.header a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.header i {
  font-size: 20px;
}

.header a:hover::before {
  width: 100%;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-track img {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
}

.nav-bar {
  display: flex; /* Выровнять элементы в строку */
  justify-content: center; /* Центрировать элементы */
  align-items: center; /* Выравнивание по вертикали */
  gap: 20px; /* Расстояние между элементами */
  backdrop-filter: brightness(60%);
  height: 5vh;
  padding: 10px 20px; /* Внутренние отступы */
  border-radius: 5px; /* Скругленные углы панели */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.nav-bar a {
  text-decoration: none; /* Убрать подчеркивание */
  color: #fff; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  padding: 8px 12px; /* Внутренние отступы внутри ссылок */
  border-radius: 4px; /* Скругленные углы ссылок */
  transition: background-color 0.3s, color 0.3s; /* Анимация при наведении */
}

.nav-bar a:hover {
  background-color: #007bff; /* Синий фон при наведении */
  color: white; /* Белый текст при наведении */
}

.nav-bar a i {
  margin-right: 5px; /* Отступ для иконок */
}

.nav-bar a:last-child i {
  margin-right: 0;
  margin-left: 5px; /* Отступ слева для иконки "next" */
}
